<!DOCTYPE html>
<html class="light" lang="en">

<head>
  {% include "components/head.html" %}
  <title>{{ article.title }} | {{ header.blog_title }}</title>

  <meta property="og:title" content="{{ article.title }}" />
  <meta property="og:type" content="article" />
  <meta property="og:url" content="/article/{{ article.slug }}" />
  <meta property="og:site_name" content="{{ header.blog_title }}" />
  {% if let Some(subheading) = article.subheading %}
  <meta property="og:description" content="{{ subheading }}" />
  {% else %}
  <meta property="og:description" content="Read {{ article.title }} on {{ header.blog_title }}." />
  {% endif %}
  {% if let Some(thumb) = article.thumbnail %}
  <meta property="og:image" content="{{ thumb }}" />
  {% else %}
  <meta property="og:image" content="/thumbnails/{{ header.blog_title_slug() }}.png" />
  {% endif %}

  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content="{{ article.title }}" />
  {% if let Some(subheading) = article.subheading %}
  <meta name="twitter:description" content="{{ subheading }}" />
  {% else %}
  <meta name="twitter:description" content="Read {{ article.title }} on {{ header.blog_title }}." />
  {% endif %}
  {% if let Some(thumb) = article.thumbnail %}
  <meta name="twitter:image" content="{{ thumb }}" />
  {% else %}
  <meta name="twitter:image" content="/thumbnails/{{ header.blog_title_slug() }}.png" />
  {% endif %}
</head>

<body class="text-on-surface antialiased flex flex-col min-h-screen">
  <a href="/"
    class="fixed top-6 left-0 z-50 lg:hidden bg-white text-primary pl-3 pr-4 py-2 border-r border-y border-primary/20 shadow-[4px_4px_10px_rgba(0,0,0,0.15)] rounded-r-md hover:bg-surface-container-low transition-all flex items-center gap-2"
    id="back-button">
    <span class="material-symbols-outlined text-[20px]">arrow_back</span>
  </a>

  <div
    class="flex-grow w-full max-w-[1376px] mx-auto px-margin-mobile lg:px-gutter pt-stack-lg pb-gutter flex flex-col gap-6 lg:gap-8 relative">

    <div class="w-full max-w-[800px] mx-auto">
      {% include "components/header.html" %}
    </div>

    <div
      class="flex-grow w-full max-w-[800px] min-w-0 mx-auto flex flex-col gap-6 lg:gap-8">
      <main class="w-full flex flex-col gap-gutter relative">
        {% include "components/article_card.html" %}
      </main>

      {% include "components/footer.html" %}
    </div>

  </div>

  {% include "components/scripts.html" %}
</body>

</html>