{% extends "scaffold.html" %}

{% block title %}{{ header.blog_title }}{% endblock %}
{% block description %}Read articles on {{ header.blog_title }} by {{ header.blog_author }}.{% endblock %}

{% block og_title %}{{ header.blog_title }}{% endblock %}
{% block og_type %}website{% endblock %}
{% block og_url %}/{% endblock %}
{% block og_description %}Read articles on {{ header.blog_title }} by {{ header.blog_author }}.{% endblock %}

{% block thumbnail_meta %}
{% include "components/default_thumbnail_meta.html" %}
{% endblock %}

{% block twitter_title %}{{ header.blog_title }}{% endblock %}
{% block twitter_description %}Read articles on {{ header.blog_title }} by {{ header.blog_author }}.{% endblock %}

{% block page_type %}index{% endblock %}

{% block content %}
{% if articles.is_empty() %}
{% include "components/article_welcome.html" %}
{% else %}
{% for article in articles %}
{% if !loop.first %}
{% include "components/string_connector.html" %}
{% endif %}
{% include "components/article_card.html" %}
{% endfor %}
{% endif %}
{% endblock %}