<!DOCTYPE html>
<html class="light" lang="en">

<head>
  {% include "components/head.html" %}
  <title>Thumbnail Source - {{ current_title }}</title>

  <link href="/static/style/thumbnail.css?v={{ app.version }}" rel="stylesheet">
</head>

<body>
  <div class="thumbnail">
    {% for article in articles %}
    <div class="thumb-article thumb-pos-{{ loop.index0 % 6 }} paper-card" data-stack="{{ loop.index0 / 6 }}">
      <p class="thumb-article-title">{{ article.title }}</p>
      {% if let Some(desc) = article.description %}
      <p class="thumb-article-sub">{{ desc }}</p>
      {% endif %}
    </div>
    {% endfor %}

    {{ header|safe }}
    {% if app.is_dev %}
    <script src="/static/script/testing.js?v={{ app.version }}"></script>
    {% endif %}
    <script src="/static/script/paper-shader.js?v={{ app.version }}"></script>
    <img class="thumbnail-pencil" src="/static/image/pencil.svg" alt="pencil" />
  </div>
</body>

</html>