<meta charset="utf-8">
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<link href="/static/style/tailwind.css?v={{ app.version }}" rel="stylesheet">
<link href="https://fonts.googleapis.com" rel="preconnect">
<link crossorigin="" href="https://fonts.gstatic.com" rel="preconnect">
<link
  href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500&amp;family=Playfair+Display:ital,wght@0,600;0,700;1,600&amp;family=Source+Sans+3:ital,wght@0,200..900;1,200..900&amp;display=swap"
  rel="stylesheet">
<link
  href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght,FILL@100..700,0..1&amp;display=swap"
  rel="stylesheet">
<link href="/static/style/style.css?v={{ app.version }}" rel="stylesheet">
