<svg style="display: none;" xmlns="http://www.w3.org/2000/svg">
  <defs>
    <filter id="chalk-filter">
      <feTurbulence type="fractalNoise" baseFrequency="0.6" numOctaves="3" result="noise" />
      <feDisplacementMap in="SourceGraphic" in2="noise" scale="1.2" xChannelSelector="R" yChannelSelector="G"
        result="rough-text" />
      <feGaussianBlur in="rough-text" stdDeviation="0.25" />
    </filter>
  </defs>
</svg>

<script src="/static/testing.js"></script>
<script src="/static/navigation.js"></script>
<script src="/static/torn-paper.js"></script>
<script src="/static/paper-shader.js?v=2"></script>
<script src="/static/red-strings.js"></script>
