<svg style="display: none;" xmlns="http://www.w3.org/2000/svg">
  <defs>
    <filter id="chalk-filter">
      <feTurbulence type="fractalNoise" baseFrequency="0.6" numOctaves="3" result="noise" />
      <feDisplacementMap in="SourceGraphic" in2="noise" scale="1.2" xChannelSelector="R" yChannelSelector="G"
        result="rough-text" />
      <feGaussianBlur in="rough-text" stdDeviation="0.25" />
    </filter>
  </defs>
</svg>

{% if app.is_dev %}
<script src="/static/script/testing.js?v={{ app.version }}"></script>
{% endif %}
<script src="/static/script/navigation.js?v={{ app.version }}"></script>
<script src="/static/script/torn-paper.js?v={{ app.version }}"></script>
<script src="/static/script/paper-shader.js?v={{ app.version }}"></script>
